<section class="navbar">
  <img class="navbar__logo" src="./../../../assets/logo.svg" alt="CodeConnect Logo" />
  <div class="navbar__links">
    <a class="navbar__links__link" routerLinkActive="navbar__links__link--active" routerLink="/landing"> Home </a>
    <a class="navbar__links__link" routerLinkActive="navbar__links__link--active" routerLink="/about"> About </a>
    <a class="navbar__links__link" routerLinkActive="navbar__links__link--active" routerLink="/program"> Program </a>
    <a class="navbar__links__link" routerLinkActive="navbar__links__link--active" routerLink="/events"> Events </a>
    <a class="navbar__links__link" routerLinkActive="navbar__links__link--active" routerLink="/get-involved"> Get Involved </a>
  </div>
  <button class="navbar__contact-button">Contact Us</button>
</section>
